@font-face {font-family:'Gotham';src: url('https://html.ink.kg/fonts/gothampro_bold.ttf')}

* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url(https://cdn.imgchest.com/files/pyvdcd2lnyk.png);
    background-repeat: no-repeat;
    max-width: 1247px;
    min-height: 1959px;
    font-size: 2rem;
    opacity: .5;
    color: blue;
}

.container {
    display: grid;
    grid-template-rows: minmax(112px, auto) minmax(67px, auto) minmax(49px, auto) minmax(438px, auto) minmax(154px, auto) minmax(1129px, auto);
    grid-template-columns: minmax(20px, 99px) minmax(20px,112px) minmax(20px, 454px) minmax(20px,578px);
    grid-template-areas:
    "one one seven eight"
    "two nine nine nine"
    "three three three three"
    "four four four four"
    "five five five five"
    "six six six six";
}

.container > * {
    border: 2px dashed blue;
}

.box1 {
    grid-area: one;
}
.box2 {
    grid-area: two;
    background-color: #e7315d;
}
.box3 {
    grid-area: three;
}
.box4 {
    grid-area: four;
}
.box5 {
    grid-area: five;
}
.box6 {
    grid-area: six;
}
.box7 {
    grid-area: seven;
}
.box8 {
    grid-area: eight;
}
.box9 {
    grid-area: nine;
    background-color: #2f363d;
}

.box9 ul {
    display: flex;
    justify-content: start;
    align-items: center;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    list-style-type: none;
    font-family: Gotham;
    gap: 39.3px;
    height: 100%;
    padding-left: 18px;
    padding-bottom: 3px;
    flex-wrap: wrap;
}

.box2 {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    list-style-type: none;
    font-family: Gotham;
    padding-left: 18px;
    padding-bottom: 3px;
}

@media (max-width: 500px) {
    .container {
        grid-template-columns: 100%;
    
        grid-template-areas:
        "one"
        "two"
        "three"
        "four"
        "five"
        "six"
        "seven"
        "eight"
        "nine";
    }
}

.box1 img {
    padding-top: 15px;
}

.box5 img {
    width: 90%;
}

.box5 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    padding: 30px;
}
